menu "Windsensor Configuration"

    config ESP_WIFI_SSID
        string "SoftAP SSID"
        default "yanus-wind"
        help
            SSID (network name) to set up the softAP with.

    config ESP_WIFI_PASSWORD
        string "SoftAP Password"
        default "EglaisEglais"
        help
            WiFi password (WPA or WPA2) for the example to use for the softAP.

    config ESP_MAX_STA_CONN
        int "Maximal STA connections"
        default 10
        help
            Max number of the STA connects to AP.
endmenu
